<div class="container">
    <div class="forgot-password-container">
      <h2>Forgot password?</h2>
      <p>Don’t worry! It happens. Please enter the email associated with your account.</p>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="email">Email address</label>
          <input id="email" formControlName="email" type="email" placeholder="Enter your email address" />
          <div *ngIf="formControls['email'].invalid && (formControls['email'].dirty || formControls['email'].touched)" class="error">
            <div *ngIf="formControls['email'].errors?.['required']">Email is required.</div>
            <div *ngIf="formControls['email'].errors?.['email']">Enter a valid email.</div>
          </div>
        </div>
        <button type="submit" [disabled]="forgotPasswordForm.invalid">Click and Check your email</button>
      </form>
    </div>
  </div>
  