<footer>
    <h4>Sam's Tours</h4>
    <div>
        <p>Links</p>
        <a href="#">Home</a>
        <a href="#">Tours</a>
        <a href="#">Hotels</a>
        <a href="#">Booking</a>
    </div>
    <div>
        <p>Links</p>
        <a href="#">Policies</a>
        <a href="#">FAQs</a>
        <a href="#">About</a>
        <a href="#">Contact Us</a>
    </div>
    <div>
        <p>Socials</p>
        <a href="#">Facebook</a>
        <a href="#">X</a>
        <a href="#">Instagram</a>
        <a href="#">Tiktok</a>
    </div>
</footer>