<h1>Terms and Conditions</h1>
<p>FINAL PROJECT “CitizenConnect360”</p>

<h2>General Guidelines</h2>
<ul>
  <li>Citizens must not engage in any illegal activities or activities that violate local, state, or federal laws.</li>
  <li>Users should not attempt to disrupt the functioning of the platform or interfere with other users' access to services.</li>
  <li>Abusive or harmful behavior towards other users, government officials, or administrators is strictly prohibited.</li>
  <li>Citizens should not misuse or exploit platform features for personal gain or to harm others.</li>
</ul>

<h2>Reporting Guidelines</h2>
<ul>
  <li>Citizens must provide accurate information when reporting incidents or participating in polls.</li>
  <li>Fabricating incidents or falsifying information is not allowed and may result in account suspension or legal action.</li>
  <li>Users should respect privacy and confidentiality when sharing incident details or personal information.</li>
</ul>

<h2>Code of Conduct</h2>
<ul>
  <li>Respectful communication and behavior are expected from all users during interactions on the platform.</li>
  <li>Hate speech, discriminatory language, or offensive content will not be tolerated.</li>
  <li>Users are responsible for their conduct and should uphold community standards and values.</li>
</ul>

<p>By using this platform, you agree to abide by these Terms and Conditions. Violation of these terms may result in account suspension or termination.</p>
