.Welcome-Page {
    height: 100vh; /* Use the full height of the viewport */
    background-image: url('../app/Assets/citizen-back.jpg'); /* Adjust path as needed */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay {
    /* Semi-transparent black overlay */
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .buttons button:first-child {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .buttons button:last-child {
    background-color: #008CBA; /* Blue */
    color: white;
  }
  
  .buttons button:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Lighten the background on hover */
    color: black; /* Change text color on hover */
  }
  